<div class="header">

    <img [routerLink]="['']" class="logo" src="assets/svg/Unicell%20Logo%20(without%20undertext).svg" alt="logo">



  <ul class="nav in_nav">
    <li [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      {{ 'HOME' | translate }}
    </li>
    <li [routerLink]="['/help']" routerLinkActive="active">
      {{ 'SUPPORT' | translate }}
    </li>
    <li [routerLink]="['/privacy-cookie']" routerLinkActive="active">
      {{ 'ABOUT_US' | translate }}
    </li>
    <li [routerLink]="['/authorize']" routerLinkActive="active">
      {{ 'LOGIN' | translate }}
    </li>
  </ul>

  <p-sidebar [(visible)]="sidebarVisible" position="left">
    <ng-template pTemplate="headless">
      <ul style="flex-direction: column; padding-top: 120px" class="nav">

        <li [routerLink]="['']" class="active">{{'HOME' | translate}}</li>

        <li>{{'SUPPORT' | translate}}</li>
        <li>{{'ABOUT_US' | translate}}</li>
        <li>{{'LOGIN' | translate}}</li>
      </ul>
    </ng-template>

  </p-sidebar>



  <div class="languages">
    <div (click)="setLang('ka')" class="geo"></div>
    <div (click)="setLang('en')" class="en"></div>
  </div>

  <div class="burger" (click)="sidebarVisible = !sidebarVisible"></div>
</div>
