<div class="container">

  <div class="box">
    <h6>POLICIES</h6>
    <h1>
      {{"PRIV_T1" | translate}} <span>{{"PRIV_T2" | translate}}</span>{{"PRIV_T3" | translate}}
    </h1>
    <div class="content">
      {{"PRIV_DESC_1" | translate}}
    </div>
    <h2> {{"PP" | translate}}</h2>
    <div class="content">
      {{"PRIV_DESC_2" | translate}}
      <span>{{email}}</span>
    </div>
    <h2> {{"CP" | translate}}</h2>
    <div class="content">
      {{"PRIV_DESC_3" | translate}}
    </div>
  </div>

</div>
